* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    background-image: url(/assets/img/2749401_14784.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flags-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.flag {
    width: 500px;
    height: 260px;
    background-color: #1c59d2;
    clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%);
    transform: rotate(90deg);
    transform-origin: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid black; /* Contorno preto */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Sombra diagonal para baixo-direita */
}

.flag-content {
    transform: rotate(-90deg);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.flag-content span {
    margin-top: 8rem;
    font-size: 5rem;
    font-weight: bold;
}

.flag-content p {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.center-image {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 9rem;
    color: #02b7ff;
    font-weight: 900;
    text-shadow: 
        2px 2px 0px white,
        4px 4px 0px black,
        6px 6px 0px black;
    white-space: nowrap;
    line-height: 0.9;
    letter-spacing: 0.1rem;
}

.text-overlay span {
    display: block;
    margin: -1rem;
}

/* Estilos da faixa abaixo de Poderoso Chefinho */
.flag-bottom {
    width: 500px; /* Largura automática, ajustada para o conteúdo */
    height: 150px;
    background-color: #1c59d2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%, 15% 50%); /* Ponta esquerda e direita */
    padding: 0 30px; /* Adiciona espaçamento nas extremidades */
    overflow: hidden;
    border: 3px dashed black; /* Contorno preto */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Sombra diagonal para baixo-direita */
}

.flag-content-bottom {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Frase fora da faixa */
.birthday-text-container {
    text-align: center;
    position: absolute;
    top: calc(75% + 150px); /* Posiciona abaixo da faixa */
    left: 50%;
    transform: translateX(-50%);
}

.birthday-text {
    font-size: 4rem; /* Define o tamanho da fonte como 3.5rem */
    color: rgb(50, 41, 41);
    font-weight: bold;
    margin-right: 10rem;
}

/* Nova classe para a frase */
.special-invite-container {
    text-align: center;
    position: absolute;
    top: calc(75% + 150px + 4rem); /* Ajusta a posição para logo abaixo da frase "Faz 1 aninho" */
    left: 50%;
    transform: translateX(-50%);
}

.special-invite-text {
    font-size: 2rem; /* Define o tamanho da fonte como 2rem */
    color: rgb(50, 41, 41);
    font-weight: bold;
}
